/**---------------General-------------**/
body {
    --dark-bg-color: #1F2937;
    --light-bg-color: #E5E7EB;
    --action-bg-color: #3882F6;

    --hero-main-font-color: #F9FAF8;
    --hero-sec-font-color: #E5E7EB;

    --info-font-color: #1F2937;

    --quote_font-color: #1F2937;

    background-color: var(--dark-bg-color);
    width: 100%;
}

.signupBtn {
    width: 70px;
    background-color: var(--action-bg-color);
    align-self: center;
    padding: 3px 10px;
    border-radius: 5px;
}

/**---------------NavBar--------------**/

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navBar .navBtnContainer {
    display: flex;
}

/**---------------Hero----------------**/

.heroSection {
    display: flex;
    justify-content: center;
}

.heroSection .textBox {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    justify-content: center;
}

.heroSection .textBox .signupBtn {
    align-self: flex-start;
}

.heroSection .imgBox {
    display: flex;
    align-items: center;
}

.heroSection .imgBox .imgPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
}

/**---------------Jumbotron-----------**/

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.jumbotron .informationBox {
    display: flex;
}

.jumbotron .informationBox .itemBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.jumbotron .informationBox .itemBox .itemImg  {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

/**---------------Quote---------------**/

.quoteBox {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    background-color: var(--light-bg-color);
    padding: 0px 20%;
}

.quoteBox .quote {
    font-size: x-large;
}

.quoteBox .quoteName {
    align-self: flex-end;
}

/**---------------SignUp--------------**/

.signupContainer {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.signupContainer .signupBox {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 5px 50px;
    background-color: var(--action-bg-color);
}

.signupContainer .signupBox .signupText {

}

.signupContainer .signupBox .signupBtn {
    margin-left: 25px;
}

/**---------------Footer--------------**/





div {
    border: 2px solid red;
}